__pycache__/
*.py[cod]
# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
*.py,cover
.pytest_cache/
# Translations
*.mo
*.pot
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
# Celery stuff
celerybeat-schedule
celerybeat.pid
# Environments
.env
.venv
env/
venv/
ENV/
# mypy
.mypy_cache/
# idea
.idea/
/logs/
